<nav class="navbar navbar-expand navbar-light" style="background-color: #2081c3;">
     <a href="/" class="nav-item nav-link" style="color: #f7f9f9;">Home</a>
     <a href="/beers" class="nav-item nav-link" style='color: #f7f9f9;'>Beers</a>
     <a href="/random-beer" class="nav-item nav-link" style='color: #f7f9f9;'>Random Beer</a>
</nav>