<div class="container">
 <img class="img" src="/images/beer.png" alt="beer image">

</div>
<div class="container button-links">
  <a href="/beers" class="small-link">Check the beers!</a>
  <a href="/random-beer" class="big-link">Check a Random Beer!</a>
</div>