<div>
    <h4>A random beer</h4>
</div>

<div class="container">
   {{#each  beersFromAPI}}
     {{>beerpartial}}
     
    <p>{{brewers_tips}} </p>
    <h4>Food pairings:</h4>
    <p> {{food_pairing}}</p>
     {{/each}}
</div>
