/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

body {
  margin: 0 auto;
  /* max-width: 720px; */
}

.footer {
  width: 100%;
  bottom: 0px;
  position: fixed;
}
.container {
  text-align: center;
  margin-top: 24px;
}
.img {
  margin-top: 32px;
  width: 312px;
  height: 292px;
}
.button-links {
  width: 324px;
}

.button-links a {
  background-color: #2081c3;
  color: #f7f9f9;
  display: block;
  margin: 12px 0 12px 0;
  line-height: 36px;
  height: 38px;
  border-radius: 6px;
  text-decoration: none;
}
.button-links .small-link {
  width: 168px;
  text-align: center;
  margin: 0 auto;
  margin-left: 38px;
}
.button-links .big-link {
  width: 268px;
}

.beers {
  width: 426px;
  height: 458px;
  display: inline-block;
  padding: 26px;
  /* margin: 26px; */
}
.beer-img {
  height: 187px;
  width: 84px;
}
/* 
.beer-container {
  padding: 10px 68px 10px 68px;
  /* margin: 0 auto; */
/* display: inline;
} */
.style {
  text-align: left;
}
.style h4 {
  font-size: 18px;
  color: #c0c0c0;
}
.beer-descr p {
  width: 100%;
  /* text-align: left; */
  font-size: small;
}

.list-style {
  padding-bottom: 26px;
  margin-bottom: 36px;
  text-align: left;
}

.random-beers {
  width: 100%;
  height: 458px;
  display: flex;
  padding: 26px;
}
.wrapper {
  width: 70%;
  padding-left: 26px;
  margin-left: 18px;
}
.random-beer-img {
  height: 266px;
  width: 98px;
}
